{% extends "layout.html" %}

{% block style %}
  .media-right { padding-left: 2em; }
{% endblock %}

{% block body %}
<div class="container">

  <h1><b>Clockwork Gaming PLUS!</b></h1>

<div class="media">
<div class="media-body">
<h2><b> What is Clockwork Gaming Plus? </b></h2> <br>
Clockwork Gaming Plus is a brand new premium service that allows you to get more out of Clockwork Gaming!<br>
<p>
<h3>Features include:</h3>
<ul>
  <li>Full VR Support<i>*</i></li>
  <li>Premuim Flare!</li>
  <li>Free Downtime!</li>
  <li>Wideband Codec Support!</li>
  <li>Longer Move Timeouts!</li>
  <li> And <b> MORE</b><i>*</i></li>
</ul>
</p>

<a class="btn btn-success btn-lg" href="./buy">Click Here to purchase Clockwork Plus! </a>

</div>

<div class="media-right"><img src="https://i.imgur.com/1vLD5FK.png" class="media-object"></div>
</div>

<h6><small>*VR Support and 'MORE' available mid summer 2032</small></h6>
{% endblock %}
